%h1
  Classic collections
#products

  %table.all-items{:cellspacing => "0", :cellpadding => "0", :style => "width: 960px"}

    - @collection_rows.each do |collection_row|
      %tr
        -collection_row.each do |collection|
          %td
            .holder
              - if collection.products.first.design.list_photo.exists?
                - img = collection.products.first.design.list_photo.url(:preview)
                - css_class = "list-photo"
              - elsif collection.products.first.design.photo.exists?
                - img = collection.products.first.design.photo.url(:preview)
                - css_class = "design"
              - else
                - img = collection.products.first.photo.url(:preview)
                - css_class = "product"
              .image-holder= link_to image_tag(img, :alt => collection.name), collection_path(collection), :class => "img #{css_class}"
              .name
                = link_to collection.name, collection_path(collection)

  .clear
