- if @images.any?
  #gallery
    .slides
      - first = true
      - @images.each do |image|
        .slide{:style => ("display: none" if !first), :id => dom_id(image)}
          %img{:href => image.image.url(:zoom), :src => (image.image.url(:zoom) if first), :width => "960px"}
          - first = false
          - collections = [image.collection1, image.collection2, image.collection3].compact
          .caption
            - if collections.any?
              Featured Collections:
              = collections.map {|c| link_to c.name.strip, collection_path(c)}.join(", ").html_safe
            - else
              &nbsp;




    .thumbs
      %ol{:style => "width:#{@images.count*144}px"}
        - first = true
        - @images.each do |image|
          %li.thumb{:slide => dom_id(image), :class => ("current" if first)}
            - first = false
            %img{:src => image.image.url(:thumb)}
            .border
      .left
        <
      .right
        >
  .clear
- else
  / #home_image{:style => "width: 800px; margin: 0 auto;"}
  /   = image_tag "homepage2.jpg", :height => 532, :alt => ""
