#products{:class => ('view-all-collection' if @design && @design.photo.exists? )}
  - if @design && @design.photo.exists?
    .moodshot
      = image_tag(@design.photo.url(:moodshot))
      %h1.title= @title
      / .text
      /   Sed ut perspiciatis, unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam eaque ipsa, quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt, explicabo. Nemo enim ipsam voluptatem, quia voluptas sit, aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos, qui ratione voluptatem sequi nesciunt, neque porro quisquam est, qui dolorem ipsum, quia dolor sit amet, consectetur, adipisci[ng] velit, sed quia non numquam [do] eius modi tempora inci[di]dunt, ut labore et dolore magnam aliquam quaerat voluptatem. Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, nisi ut aliquid ex ea commodi consequatur? Quis autem vel eum iure reprehenderit, qui in ea voluptate velit esse, quam nihil molestiae consequatur, vel illum, qui dolorem eum fugiat, quo voluptas nulla pariatur?
  - else
    %h1= @title


  %table.products{:cellspacing => "0", :cellpadding => "0", :style => "width: 960px; clear: both; margin-bottom: 20px"}
    - @product_rows.each do |product_row|
      %tr
        -product_row.each do |product|
          %td
            - next if product == "empty"
            %div
              = link_to image_tag(product.photo.url(:preview), :alt => product.short_name), product_path(product), :class => "img"
              .name
                = link_to product.short_name, product_path(product)
              .product-type
                = product.product_code.name
