%table.table.table-bordered.table-striped.table-hover.table-list
  %thead
    %tr
      = sortable_th(:sort_key => "enabled", :sort_direction => @sort_direction, :class => "attribute-code") do
        Enabled
      = sortable_th(:sort_key => "site_location", :sort_direction => @sort_direction, :class => "email") do
        Location
      = sortable_th(:sort_key => "created_at", :sort_direction => @sort_direction, :class => "date-added") do
        Added

  %tbody
    - site_texts.each do |site_text|
      %tr.clickable{:href => url_for([:admin, site_text]), :fragment => "site_texts/#{site_text.id}", :id => "clickable_for_#{dom_id(site_text)}"}
        %td.name
          = site_text.enabled
        %td.email
          - if site_text.about_us
            About Us
          - elsif site_text.trade
            Trade
          - elsif site_text.shipping
            Shipping
        %td.date-added
          = site_text.created_at.to_formatted_s(:ddmmyyyy)
