.row
  .right.sidebar
    .inner
      %button.btn.btn-warning.add-user-btn.clickable{:fragment => "site_texts/add"}
        Add Text


  .left

    .col-md-12
      %h3.pull-left Site Text


      = will_paginate @site_texts


      = render :partial => "list", :locals => { :site_texts => @site_texts }

      = will_paginate @site_texts

