%table.table.table-bordered.table-striped.table-hover.table-list
  %thead
    %tr
      = sortable_th(:sort_key => "code", :sort_direction => @sort_direction, :class => "attribute-code") do
        Code
      = sortable_th(:sort_key => "name", :sort_direction => @sort_direction, :class => "name") do
        Name
      = sortable_th(:sort_key => "created_at", :sort_direction => @sort_direction, :class => "date-added") do
        Added
      = sortable_th(:sort_key => "products_count", :sort_direction => @sort_direction, :class => "products") do
        Products

  %tbody
    - designs.each do |design|
      %tr.clickable{:href => url_for([:admin, design]), :fragment => "designs/#{design.id}", :id => "clickable_for_#{dom_id(design)}"}
        / %td.image
        /   = image_tag(product.photo(:admin), :width => 24, :height => 24)
        %td.attribute-code{:title => design.code}
          = design.code
        %td.name
          = design.name
        %td.date-added
          = design.created_at.to_formatted_s(:ddmmyyyy)
        %td.products
          = design.products.count
