.row
  .right.sidebar
    .inner


  .left

    .col-md-12
      %h3.pull-left Designs


      = will_paginate @designs


      = render :partial => "list", :locals => { :designs => @designs }

      = will_paginate @designs

