html
  height: 100%

body
  background-color: white
  margin: 0
  padding: 0
  font-family: 'Basic Commercial W01', Arial, Helvetica, sans-serif
  font-size: 12px
  font-weight: normal
  height: 100%

h1, h2
  color: #83817c
  font-weight: 800
  margin: 0 0 8px 0
  span
    display: block
    font-size: 18px
    margin-bottom: 10px

h1
  opacity: 0.40
  filter: alpha(opacity = 40)
  text-align: center
  font-size: 36px
  margin-bottom: 30px

.clear
  clear: both

form
  width: 100%

input.text, input.password
  width: 200px

// @-webkit-keyframes fadeIn
//   from
//     opacity: 0
//   to
//     opacity: 0.2


// @keyframes fadeIn
//   from
//     opacity: 0
//   to
//     opacity: 0.2

// @-webkit-keyframes fadeOut
//   from
//     opacity: 0.2
//   to
//     opacity: 0


@keyframes fadeOut
  from
    opacity: 0.2
  to
    opacity: 0

#screen
  display: none
  z-index: -1
  background: #000
  opacity: 0
  position: absolute
  top: 0
  left: 0
  bottom: 0
  right: 0

// #screen.visible
//   -webkit-animation: fadeIn 0.4s
//   -webkit-animation-fill-mode: forwards
//   animation: fadeIn 1s

// #screen.hidden
//   -webkit-animation: fadeOut 0.4s
//   -webkit-animation-fill-mode: forwards
//   animation: fadeOut 1s

#background-tile
  background-image: image-url('shop/background-tile.png')
  background-repeat: repeat
  width: 100%
  height: 100%
  z-index: 1
  position: fixed

.background-image-1, .background-image-2, .background-image-3,
.background-image-4, .background-image-5, .background-image-6,
.background-image-7, .background-image-8, .background-image-9
  background-repeat: no-repeat
  background-size: cover
  position: fixed
  width: 100%
  height: 100%
  z-index: 1

.background-image-1
  background-image: image-url('shop/background-image-1.jpg')

.background-image-2
  background-image: image-url('shop/background-image-2.jpg')
  opacity: 0
  filter: alpha(opacity = 0)

.background-image-3
  background-image: image-url('shop/background-image-3.jpg')
  opacity: 0
  filter: alpha(opacity = 0)

.background-image-4
  background-image: image-url('shop/background-image-4.jpg')
  opacity: 0
  filter: alpha(opacity = 0)

.background-image-5
  background-image: image-url('shop/background-image-5.jpg')
  opacity: 0
  filter: alpha(opacity = 0)

.background-image-6
  background-image: image-url('shop/background-image-6.jpg')
  opacity: 0
  filter: alpha(opacity = 0)

.background-image-7
  background-image: image-url('shop/background-image-7.jpg')
  opacity: 0
  filter: alpha(opacity = 0)
.background-image-8
  background-image: image-url('shop/background-image-8.jpg')
  opacity: 0
  filter: alpha(opacity = 0) 

.footer
  position: fixed
  left: 0
  right: 0
  bottom: 0
  margin: 0 auto 0
  width: 100%
  min-width: 960px
  z-index: 21
  height: 30px  
  clear: both
  font-weight: 200

  #footer
    margin-top: -6px
    font-size: 16px
    line-height: 30px
    height: 30px
    background-color: rgba(255,255,255,0.8)
    color: #3D3C38
    width: 100%
    min-width: 960px
    border: none
    tr, td, tbody
      border: none
    .left, .right
      min-width: 214px
      max-width: 249px
      z-index: 18
      a
        padding: 0 15px
        display: inline-block
        outline: none
        text-decoration: none
        color: #3D3C38
      a:hover
        color: #3a3a3a
        background-color: rgba(173, 171, 165, 0.85)
    .left
      float: left
      font-size: 20px
    .right
      float: right
    .center
      position: absolute
      left: 0
      right: 0
      text-align: center
      font-size: 22px
      width: 200px
      margin: 0 auto
      z-index: 17
      padding-top: 4px
      height: 28px


    .twitter, .facebook, .pinterest, .linkedin
      // background-size: 100%
      height: 16px
      width: 16px
      margin: 0 auto
      display: inline-block
      background-repeat: no-repeat
      background-image: image-url('shop/social/social_sprite.png')
      margin-right: 10px

    .twitter
      background-position: 0 0
    .twitter:hover
      background-position: 0 -20px
    .facebook
      background-position: -20px 0
    .facebook:hover
      background-position: -20px -20px
    .pinterest
      background-position: -40px 0
    .pinterest:hover
      background-position: -40px -20px
    .linkedin
      background-position: -60px 0
      margin-right: 0
    .linkedin:hover
      background-position: -60px -20px

.hidden
  display: none

#container
  position: relative
  margin: 0 auto 0
  width: 960px
  min-height: 100%
  z-index: 3
  // #search_box
  //   border: 1px #DAD5C8 solid
  //   background-color: #FFF
  //   #search
  //     margin: 0
  //     float: left
  //     border: 0
  //     padding: 0
  //     width: 160px
  //     line-height: 22px
  //     height: 22px
  //     padding: 2px
  //     font-size: 12px
  //     outline: none
  //   .submit:active
  //     background-color: #FFF
  //   .submit
  //     margin: 0
  //     float: right
  //     width: 80px
  //     height: 26px
  //     line-height: 26px
  //   position: absolute
  //   right: 0
  //   top: 10px
  //   width: 244px
  //   height: 26px
  //   z-index: 100
  #logo
    img
      border: 0
      height: 58px
      width: 190px
      z-index: 22
      position: relative
      top: 52px
    border: 0px
    margin: 0px 0px 0px 0px    
    margin-left: 372px
    //text-align: center
  .incorporate-logo
    img
      border: 0
      height: 137px
      width: 190px
      z-index: 20
      position: relative
      top: 51px
    border: 0px
    margin: 0px 0px 0px 0px    
    margin-left: 372px 
  .incorporate-tab  
    img
      border: 0
      height: 47px
      width: 960px
      z-index: 20
      position: relative
      top: 51px
    border: 0px
    margin: 0px 0px 0px 0px    
    margin-left: 0px  
    display: none 
  #account_menu
    position: absolute
    right: 0
    top: 0
    padding: 45px 0 10px 0
    a
      color: #83817c
  #subnav_menu
    padding: 0 0 0 0
    margin: 0 0 0 0
    height: 20px
    li
      a
        text-decoration: none
      font-weight: 800
      font-size: 11px
      display: block
      float: left
      list-style: none outside none

  #menu
    z-index: 22
    display: block
    color: #3a3a3a
    padding: 0
    margin: 0
    width: 960px
    background-color: rgba(231, 228, 221, 0.85)
    height: 35px
    position: absolute
    top: 77px


    .search
      float: right

      #search_box
        display: inline-block

      #search
        background-color: rgba(255,255,255,0.85)
        margin-top: 2px
        margin-left: 2px
        margin-right: 4px
        height: 25px
        width: 138px
        outline: none
        border-style: none
        font-style: italic
        margin-top: 4px
        position: absolute
        right: 0
        top: 0
        -webkit-appearance: none
        border-radius: 0

    .left-links, .right-links
      line-height: 20px
      font-size: 13px
      font-weight: 800
      height: 100%
      width: 394px

    .right-links
      float: right

    a
      text-decoration: none
      color: #3a3a3a
      font-size: 14px
      padding-top: 8px
      // &:hover
      //   text-decoration: none
      //   color: #3a3a3a

    .link
      width: 120px
      text-align: center
      display: inline-block
      &:hover
        // background-color: rgba(#FFF, 1)
        background-color: rgba(173, 171, 165, 0.85)

    a.link
      padding-bottom: 7px
      padding-left: 0px
      // padding-right: 5px
      width: 120px
      &:hover
        color: rgb(231, 228, 221)

    .small
      .link
        text-align: left
      .link.first
        text-align: center
      .sub-menu.about
        .link
          padding-left: 5px
      .sub-menu
        width: 130px
        height: auto
        .inside
          margin: 15px
          // padding: 0 15px 0 15px
        ul.thin
          display: inline-block
          width: 121px
    .sub-menu.designs
      .vertical-line
        border-left: 1px solid rgba(131, 129, 124, 0.4)
        height: 100%
        position: absolute
        left: 100%

      .moodshots
        position: relative
        display: inline-block
      .view-all-link
        position: absolute
        bottom: 220px
        a
          font-size: 14px
          &:hover
            text-decoration: underline
            color: #A5A4A1
      .view-all-link.classic
        right: 15px
        bottom: 10px
      .view-all-link.contemporary
        right: 20px
        text-align: right
        bottom: 10px
      .left-img
        margin-right: 15px
      .moodshot
        width: 100%
        height: 200px
        overflow: hidden
        text-align: center
        position: relative
        display: inline-block
        img
          float: right
          width: 100%
          position: absolute
          left: 0
          top: 0
        .title
          padding: 5px 10px 5px 10px !important
          position: absolute
          top: 170px
          opacity: 0.8
          filter: alpha(opacity = 80)
          background-color: rgb(231, 228, 221)
      .inside
        width: 448px
      .thin
        width: 135px
      .right, .left
        position: relative
    .sub-menu.products

      .left, .right
        width: 200px
      .moodshot
        position: absolute
        top: 0
        bottom: 0
        right: 0
        width: 500px
        margin: 15px
        overflow: hidden
        img
          float: right
          width: 100%
          position: absolute
          left: 50%
          top: 0
          margin-left: -50%
          margin-top: 0
      .hidden
        display: none
      // display: block
    .sub-menu
      // -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3)
      // box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3)

      display: none
      position: absolute
      background-color: rgba(255, 255, 255, 0.95)
      left: 0
      right: 0
      top: 35px
      height: auto
      width: 50%
      // border-color: rgba(#83817c, 0.5)
      // border-style: solid
      // border-width: 2px
      z-index: 2000

      .left, .right
        // position: absolute
        float: left
        width: 478px

        .inside
          margin: 15px
          text-align: left
          .title
            display: none 
            font-size: 14px
            font-weight: 800
            padding: 0 0 5px 0


      .right
        .inside
          text-align: left
      .to-the-left
        text-align: left
        a
          margin-left: 5px
      ul.thin
        display: inline-block
        width: 190px

      ul
        vertical-align: top
        display: inline-block
        top: 0
        padding-left: 0
        padding-right: 0
        margin-bottom: 10px
        margin-left: 0
        margin-right: 0
        width: 250px
        background-color: inherit
        position: relative
        li
          // display: block

          list-style: none outside none

          background-color: inherit
          height: auto
          a
            padding: 4px 5px 3px 0
            font-weight: normal
            background-color: inherit
            text-decoration: none
            color: #3D3C38
            font-size: 14px
            line-height: 25px

          a:hover
            color: #A5A4A1
            text-decoration: underline

    > li
      display: block
      float: left
      list-style: none outside none
      height: 32px
      > a, .text
        position: relative
        outline: none
        display: block
        text-decoration: none
        color: #3D3C38
        padding: 5px 15px 5px 15px
        font-weight: 800
        font-size: 13px
        line-height: 20px

        border-width: 2px 2px 0 2px
        border-color: transparent
        border-style: solid
        box-sizing: border-box
        -moz-box-sizing: border-box
      .arrow
        display: none
        height: 15px
        width: 225px
        position: absolute
        background: #F0ECE2
        z-index: 300
        .arrow_inner
          margin-left: 10px
          font-size: 0px
          line-height: 0%
          width: 0px
          border-bottom: 15px solid #CEC9BE
          border-left: 15px solid #F0ECE2
          border-right: 15px solid #F0ECE2
      > ul
        background: #CEC9BE
        padding: 0 0 0 0
        margin: 15px 0 0 0
        border: 0
        z-index: 200
        display: none
        position: absolute
        width: 225px
        float: none
        li, li a
          float: none
    li.with-submenu
      -webkit-user-select: none
      -webkit-touch-callout: none
    li:hover, li.over, li.hover_effect
      .arrow, ul, div.cart, .sub-menu
        display: block
    li.with-submenu.small
      position: relative
    li.with-submenu:hover
      > a
        // background-color: white
        height: 34px
        border-color: rgba(#3D3C38, 0.5)
        background-color: rgba(173, 171, 165, 0.85)
        z-index: 3000

      // color: #DAD5C8
      // background: #83817

  #content
    padding-top: 100px
    overflow: auto
    padding-bottom: 50px
    min-height: 550px
    h1
      padding: 15px 0 0 0
      color: #3b3b3b
      opacity: 0.7
      filter: alpha(opacity=70)
    a
      color: #83817c
    table.filters
      clear: both
      background-color: white
      border: 0 !important
    #features
      h1
        margin-top: 0
        font-size: 22px
        text-align: left
        color: #3b3b3b
        opacity: 0.7
        filter: alpha(opacity=70)
      h2
        margin-top: 20px
        font-size: 18px
        text-align: left
    .summary
      padding: 10px !important
    #info
      clear: both
      .text
        width: 395px
        text-align: left
        display: inline-block
        min-height: 350px
        // margin: 0 auto
      .image
        width: 465px
        height: 350px
        float: right
        overflow: hidden
        img
          width: 520px
    .info, #info
      div.actions
        border-top: 2px #DBD6C9 solid
        background-color: transparent
        padding: 2px 0
        margin: 4px
        input, .button
          margin: 5px 0
      padding: 10px
      // border: 1px solid #DBD6C9 font size changed from 12px 17
      background-color: #FFF !important
      font-size: 17px 
      color: #888
      margin-bottom: 10px
      table
        font-size: 13px
        background-color: #FFF
        width: 400px
        margin: 0
        padding: 0
        td p
          margin: 0
          padding: 0
        td.attribute
          width: 120px
          font-weight: 800
        td.attribute-value
          vertical-align: top
        tr.product-info
          font-style: italic
    #products.view-all-collection
      margin-top: -28px
    #products
      clear: both
      // background-color: #e5e0d2;
      table.filters
        clear: both
        background-color: white
        border: 0 !important
        td
          padding-left: 0
          padding-right: 3px
          padding-bottom: 8px

      h1.title
        position: absolute
        bottom: 0
        bottom: 0
        left: 0
        opacity: 0.85
        filter: alpha(opacity = 85)
        margin-bottom: 0
        padding-left: 10px
        padding-right: 10px
        padding-bottom: 0
        padding-top: 0
        text-align: left
        background-color: rgb(231, 228, 221)
        height: 48px
        font-size: 40px

      .filter
        select
          width: 150px !important
      .moodshot
        position: relative
        overflow: hidden
        height: 480px
        img
          display: block
          margin: auto
          width: 960px
          // height: 480px
        .text
          position: absolute
          top: 30px
          right: 30px
          height: auto
          width: 300px
          background-color: rgba(#DAD5C8, 0.8)
          padding: 10px
          font-size: 14px
          color: #5C5A57
        margin-bottom: 18px
      table.products
        // background-color: #dbd6c9
        td
          height: 320px
          width: 320px
          padding: 0
          margin: 0
          background-color: #FFF
          position: relative
          div
            height: 320px
            // padding: 15px 0px 15px 0px
            a
              text-decoration: none
            a.img
              width: 320px
              height: 275px
              margin-left: auto
              margin-right: auto
              display: table-cell
              vertical-align: middle
            img
              max-width: 300px
              max-height: 275px
              display: block
              margin-left: auto
              margin-right: auto
              border: none
          .name
            border: none
            margin: 5px
            text-align: center
            font-size: 16px
            position: absolute
            bottom: 25px
            left: 0
            right: 0
            text-align: center
            height: 15px
            font-style: italic
            font-family: 'Baskerville', 'Georgia'
            font-weight: 600
            a
              padding-left: 2px
              padding-right: 2px
              text-overflow: ellipsis
              overflow-x: hidden
              display: block
              white-space: nowrap
          .product-type
            position: absolute
            bottom: 10px
            left: 0
            right: 0
            width: 100%
            text-align: center
            // font-style: italic
            height: 15px
            color: #83817c
        // padding: 5px
      table.all-items
        td
          height: 320px
          width: 320px
          padding: 0
          margin: 0
          position: relative
        .holder
          position: relative
          width: 320px
          height: 320px
          overflow: hidden
          a.img.product
            min-height: 320px
            height: 320px
            width: 320px
            margin-left: auto
            margin-right: auto
            display: table-cell
            vertical-align: middle
          a.img.design
            height: 285px
            margin-left: auto
            margin-right: auto
            display: table-cell
            vertical-align: middle
          .list-photo
            img
              width: 320px
              height: 320px
              border: none
              display: block
          .product
            img
              max-width: 320px
              max-height: 285px
              margin-left: auto
              margin-right: auto
              border: none
              display: block
          .design
            img
              height: 320px
              display: block
              margin-left: auto
              margin-right: auto
              margin-top: 0
              border: none
          .name
            position: absolute
            bottom: 0
            left: 0
            padding-bottom: 5px
            padding-top: 5px
            opacity: 0.85
            filter: alpha(opacity = 85)
            background-color: rgb(231, 228, 221)
            a
              margin-bottom: 0
              padding-left: 10px
              padding-right: 10px
              padding-top: 0
              text-align: left
              height: 42px
              color: #83817c
              font-weight: 800
              margin: 0 0 8px 0
              font-size: 20px
              text-decoration: none

form div, fieldset
  border: 0
  padding: 0
  margin: 0
  legend
    padding: 0
  ol
    padding: 0
    margin-left: 0
    li
      margin-left: 0
      float: left
      display: block
      margin-bottom: 7px
      width: 100%
  h2
    position: relative
    span
      width: 200px
      position: absolute
      left: 140px
      top: 0
      line-height: 22px
      label
        font-size: 12px
  li label
    color: #999
    float: left
    font-size: 12px
    line-height: 22px
    margin-right: 20px
    text-align: left
    width: 120px

#account_details
  width: 500px
  padding: 10px
  table
    width: 500px
    tr
      td.name
        font-size: 17px
        font-weight: 800
      td.email
        color: #777
        font-size: 13px
        font-weight: 800
      td.label
        width: 50%
        padding-top: 4px
        padding-bottom: 4px
        border-bottom: solid 1px #d9d9d9
      td.value
        text-align: right
        padding-top: 4px
        padding-bottom: 4px
        border-bottom: solid 1px #d9d9d9
        width: 50%
      td.no_border
        border-bottom: none

#the_team
  td
    vertical-align: top !important
    padding-bottom: 20px
  td.bio
    padding-left: 5px

// ***** pagination ****

.bottom
  .pagination
    margin-top: 15px
    margin-bottom: 0px

.pagination
  float: right
  font-size: 10px
  text-align: right
  margin: 5px 0 5px 0
  .disabled
    display: none
  .disabled, .current
    font-weight: normal
  *
    float: left
    padding: 3px 6px
    margin: 0
    color: #777
  .current
    color: #555
    background-color: #FFF
    font-weight: 800
    border: 1px solid #000
    margin: 2px 2px
  a
    margin: 2px 2px
    // border: 1px solid #888
    text-decoration: none
  a:focus
    focus: none
  a:hover
    text-decoration: none
    color: #fff

.address
  border: 4px solid #DBD6C9
  background-color: #FFF
  padding: 10px
  margin-bottom: 10px
  table
    width: 100%
    td
      padding: 15px
      vertical-align: top

.flash
  color: red

.button, .submit
  display: block
  cursor: pointer
  width: 160px
  height: 30px
  line-height: 30px
  color: #83817C
  font-size: 13px
  font-weight: 800
  background-color: #DAD5C8
  text-align: center
  padding: 0px
  text-decoration: none
  margin: 5px 0 8px 0
  border: 0

.button:hover, .submit:hover
  background-color: #83817C
  color: #DAD5C8 !important

.button.right
  float: right

.button.left
  float: left

input.pay_now
  @extend .button
  height: 30px
  line-height: 30px
  font-size: 15px

input.pay_now:hover
  @extend .button:hover

.edit_details
  margin: 5px auto

a.check_out
  float: right
  @extend .button
  height: 30px
  line-height: 30px
  font-size: 15px

a.check_out:hover
  @extend .button:hover

.details
  background-color: #F0ECE2
  padding: 10px
  width: 220px
  table
    background-color: #F0ECE2 !important
    th
      text-align: left
      padding-right: 10px
    td
      div
        width: 100px
        overflow: hidden
        text-overflow: ellipsis

.product
  min-height: 600px
  input.text
    width: 30px
    float: left
    margin: 0 5px
    height: 24px
    line-height: 24px
  #image
    position: relative
    width: 45%
    img
      padding: 5px
      display: table-cell
      margin: 0 auto
      // border: 1px solid #E8E8E8
    .zoom_icon
      position: absolute
      top: 15px
      right: 15px
      width: 33px
      height: 32px
      // background-image: url("/images/search.png")
      cursor: pointer
    .zoom_icon:hover
      background-position: 0 -32px
  .zoomable img
    cursor: pointer
    max-height: 450px
    max-width: 100%
  label
    float: left
    line-height: 30px
  input.submit
    margin: 0
  .zoom
    background-color: white
    position: absolute
    width: 958px
    min-height: 600px
    margin: -10px
    cursor: pointer
    overflow-y: scroll
    img
      float: none !important
      width: 100%
    .close
      @extend .button
      background-color: rgba(231, 228, 221, 0.85)
      position: absolute
      margin: 0
      top: 0
      left: 0
      z-index: 10

.orders
  td
    padding: 5px 4px
    border-bottom: 1px solid #DAD5C8
  tr.clickable td
    cursor: pointer
  tr.clickable:hover td
    background-color: #F0ECE2

.cart, .orders
  border-spacing: 0
  td.product
    a
      text-decoration: none
  td.image
    img
      padding: 5px
      border: none
  td.actions
    font-size: 10px
    a
      cursor: pointer
    a:hover
      text-decoration: underline
  td.number
    text-align: right
  .footer td
    border-top: 2px solid #DAD5C8
  .total
    line-height: 32px
    height: 32px
  thead td
    border-bottom: 2px solid #DAD5C8

#gallery
  width: 960px
  margin: 0 auto
  margin-top: -28px
  .slides
    width: 960px
    height: 675px
    overflow: hidden
    position: relative
    .slide
      background-repeat: no-repeat
      position: absolute
      width: 960px
      height: 675px
      overflow: hidden
      img
        display: block
        margin: 0 auto
      .caption
        position: absolute
        left: 0
        right: 0
        bottom: 0
        background-color: #DAD5C8
        opacity: 0.9
        line-height: 32px
        padding-left: 10px
        padding-right: 10px
        a
          font-weight: 800
  .thumbs
    width: 100%
    overflow: hidden
  .thumbs
    position: relative
    .left, .right
      position: absolute
      top: 0
      bottom: 0
      line-height: 96px
      background-color: #DAD5C8
      opacity: 0.7
      filter: alpha(opacity = 70)
      width: 20px
      text-align: center
      cursor: pointer
      font-weight: 800
      color: #83817C
    .left:hover, .right:hover
      opacity: 1
      filter: alpha(opacity = 100)
    .left
      left: 0
    .right
      right: 0
    ol
      padding: 0
      margin: 0
      .thumb
        cursor: pointer
        width: 144px
        height: 96px
        overflow: hidden
        position: relative
        float: left
        .border
          position: absolute
          left: 0
          right: 0
          top: 0
          bottom: 0
        opacity: 0.6
        filter: alpha(opacity = 60)
      .thumb.current, .thumb:hover
        filter: alpha(opacity = 100)
        opacity: 1
        .border
          border: 4px solid #83817C
 .leftBanner
   position: absolute
   display: block
   margin-left: 1%
   margin-top: 1px