%table.table.table-bordered.table-striped.table-hover.table-list
  %thead
    %tr
      %th.type
        Type
      %th.import-details
        Details
      %th.filesize
        Size
      %th.username
        User
      %th.date-added
        Date
  %tbody
    - imports.each do |import|
      %tr.clickable{:fragment => "imports/#{import.id}", :id => "clickable_for_#{dom_id(import)}"}
        %td.type
          = import.import_type.try(:titleize)
        %td.details
          - if import.is_a?(ImageImport) && import.products.first.present?
            = image_tag(import.products.first.photo(:admin), :width => 24, :height => 24)
            %span{:title => import.products.first.code}
              = import.products.first.short_code || "Short Code not specified"
          - else
            = link_to import.upload_file_name, import.upload(:original)
        %td.filesize
          = "#{import.upload_file_size / 1024}kb"

        %td.username
          = import.user && "#{import.user.first_name} #{import.user.last_name}"
        %td.date-added
          = import.created_at.to_formatted_s(:short_and_year)
