.row-fluid
  .right.sidebar

  .left
    .row-fluid
      .span3.pull-left
        %h3 Imports
      .pull-right
        = will_paginate @imports
      .span9
        = render :partial => "list", :locals => { :imports => @imports }
        .pull-right
          = will_paginate @imports


