%h1 Who we are
#info
  .text= auto_link(RedCloth.new(@about_us.text).to_html)
  .image
    %img{:src => "/assets/shop/Morocco.jpg"}
    /%img{:src => Design.has_photo.offset(rand(Design.has_photo.count)).first.photo.url(:zoom)}
