
%h1
  Contact Us
- if @head_office
  .address
    %div{:style => "float: left"}
      %strong= @head_office.name
      = auto_link(RedCloth.new(@head_office.address).to_html)

    %div{:style => "float: right"}
      = link_to @head_office.map_url, :target => "_blank" do
        %img{:alt => "Map #{RedCloth.new(@head_office.address)}", :style => "border:none", :src => @head_office.google_map_img}

    .clear


- if @vendor_rows.first.any?
  .address
    %table
      - @vendor_rows.each do |vendor_row|
        %tr
          -vendor_row.each do |vendor|
            %td
              %strong= vendor.name

              = auto_link(RedCloth.new(vendor.address).to_html)
