#info
  %h1 Media

  %p English Home is regularly contacted by television and film production teams for our authentic period materials and collections, as well as our more contemporary collections.

  %p Film credits: Moulin Rouge (which won an Oscar for Best Set Design), Gladiator, Girl with a Pearl Earring, Notting Hill, Pirates of the Caribbean, Harry Potter, The Other Boleyn Girl, Robin Hood, Melinda and Melinda, Around the World in 80 Days, Henry VIII, To Kill a King, The Golden Bowl, Bad Company and most recently Burlesque Undressed.

  %p Recent television credits include: The Turn of the Screw, Emma, The Tudors.

  %p{:style => "text-align: center"}
    = image_tag "/press/thetudorssmall2.jpg"


  %p 2010 Press Coverage
  %p
    %a{:href => "/press/Tropical Living.pdf"} Tropical Living
    \- Jan 2010
  %p
    %a{:href => "/press/Area style file.jpg"}> Area
    \- February 2010
  %p
    %a{:href => "/press/IDT Last Word.jpg"} Interior Design Today
    \- March/April 2010
  %p
    %a{:href => "/press/Homelife%20Australia.pdf"} Homelife Australia
    \- May 2010
  %p
    %a{:href => "/press/Period House EH Coverage Aug 2010.pdf"}> Period House
    \- August 2010
  %p
    %a{:href => "/press/House &amp; Garden EH Coverage Sep 2010.pdf"}> House &amp;&nbsp;Garden
    \- September 2010
  %p
    %a{:href => "/press/DECX_HOMES&amp;GARDENS_OCTOBER_01.pdf"} Homes &amp;&nbsp;Gardens
    \- October 2010
  %p
    %a{:href => "/press/House  Garden October 2010.pdf"} House &amp;&nbsp;Garden
    \- October 2010
