%h1 Trade
#info
  .text= auto_link(RedCloth.new(@trade.text).to_html)
  .image
    %img{:src => "/assets/shop/whoweareimg.jpg"}
    /%img{:src => Design.has_photo.offset(rand(Design.has_photo.count)).first.photo.url(:zoom)}
