body
  padding-top: 40px
.container
  max-width: 100% !important


.navbar-inner
  padding: 0 20px !important

body > .container
  padding: 0 20px !important
  box-sizing: border-box

.clear
  clear: both

.sidenav

  width:  16%
  margin: 75px 0 0
  padding: 0
  background-color: #fff
  -webkit-border-radius: 6px
  -moz-border-radius: 6px
  border-radius: 6px
  -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.065)
  -moz-box-shadow: 0 1px 4px rgba(0,0,0,.065)
  box-shadow: 0 1px 4px rgba(0,0,0,.065)

  > li:first-child > a
    -webkit-border-radius: 6px 6px 0 0
    -moz-border-radius: 6px 6px 0 0
    border-radius: 6px 6px 0 0
  > li:last-child > a
    -webkit-border-radius: 0 0 6px 6px
    -moz-border-radius: 0 0 6px 6px
    border-radius: 0 0 6px 6px

  > li
    line-height: 20px
    > a
      display: block
      width: 190px 9
      margin: 0 0 -1px
      padding: 8px 14px
      border: 1px solid #e5e5e5

  .icon-chevron-right
    float: right
    margin-top: 2px
    margin-right: -6px
    opacity: .25

.table-list
  margin-bottom: 10px
  tr
    td
      line-height: 25px
      cursor: pointer
  tr.highlighted
    td
      background-color: #cccccc !important
  tr
    .image
      max-width: 34px
      min-width: 34px
      height: 34px
      padding: 3px

      text-align: middle

      img
        background-color: white
        border-radius: 4px
        border: 1px solid #ddd
        padding: 4px
    .name
      overflow: hidden
      text-overflow: ellipsis
      white-space: nowrap
    .type
      width: 150px
    .filesize
      text-align: right
      width: 150px
    .username
      width: 150px
    .date-added
      text-align: right
      width: 120px
    .code
      overflow: hidden
      text-overflow: ellipsis
      max-width: 100px
    .attribute-code
      overflow: hidden
      text-overflow: ellipsis
      max-width: 50px
    .short-code
      width: 150px
    .attribute-code, .attribute-colour, .attribute-detail
      max-width: 120px
      width: 120px
      white-space: nowrap
      text-overflow: ellipsis
      overflow: hidden
    .products
      text-align: right
      width: 100px
    .attribute-name

    .number
      text-align: right


    .price
      text-align: right
      width: 100px
    .product-count
      text-align: right
      width: 70px

    td > a
      display: block

.sidebar
  margin-top: 20px
  position: relative
  > .inner
    position: fixed
    width: 405px
    right: 15px
    top: 60px
    bottom: 0



.row
  > .left
    width: auto
    overflow: hidden
  > .right
    float: right
    width: 400px
    margin-left: 20px

div.pagination
  margin: 20px 0 5px 0
  float: right !important
  ul
    margin: 0 0 0 0

.hidden
  display: none

.errors
  color: red

.sidebar .popover

  position: fixed
  top: 60px
  right: 15px
  left: auto
  bottom: 20px
  width: 405px
  max-width: none
  .arrow.transition
    transition: top 0.3s, opacity 0.3s

  .close
    float: right
    font-size: 18px

    line-height: 18px
    color: #000000
  .popover-title
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
  .popover-content
    background-color: white
    height: 92%
    margin-bottom: 15px
    overflow-y: auto
    position: relative
  .details.hidden
    display: none
  .details
    // position: absolute
    // top: 150px
    // bottom: 0
    // right: 15px
    // left: 15px
    margin-top: 15px

    table
      th
        width: 100px
      .hidden
        display: none
      tr:first-child
        th, td
          border-top: none
      td.number
        text-align: right
    // .nav.nav-tabs
    //   position: absolute
    //   bottom: 0
    //   left: 0
    //   right: 0

  // .tabbable
  //   table.table-bordered.table-rounded
  //     border-bottom-left-radius: 0
  //     border-bottom-right-radius: 0
  //     border-bottom: 0
  //     tbody:last-child tr:last-child > th:first-child
  //       border-bottom-left-radius: 0
  //     tbody:last-child tr:last-child > td:last-child
  //       border-bottom-right-radius: 0
  //     margin-bottom: 0
.sidebar .popover.product
  top: 100px
  right: 15px
  // background-color: whitesmoke
  // .arrow:after
    // border-right-color: whitesmoke

.sidebar .popover.status
  top: 100px
  right: 15px
  -webkit-box-shadow: none
  box-shadow: none
  .box
    bottom: auto

    margin-bottom: 15px
    table
      margin-bottom: 0

  .filters

    .select2able
      width: 100%
    .filter
      margin-bottom: 10px

    .active-filter
      text-decoration: none
      display: block
      height: 26px
      line-height: 26px
      padding-left: 8px
      margin-bottom: 10px
      background-color: rgb(255, 255, 255)
      background-image: -webkit-gradient(linear, 0% 100%, 0% 0%, from(rgb(238, 238, 238)), color-stop(0.5, white))
      border: 1px solid rgb(170, 170, 170)
      border-radius: 4px
      outline: none

      span
        color: #999

      .close
        float: right
        margin-right: 5px


.sidebar .popover.add-products
  position: fixed
  top: 90px
  right: 15px

.sidebar .popover.add-user
  position: fixed
  top: 90px
  right: 15px

.sidebar .popover.add-gallery-image
  position: fixed
  top: 90px
  right: 15px

// .productPanel
//   display: none
//   position: fixed
//   top: 41px
//   right: 0
//   bottom: 0
//   border-left: 1px solid #ccc
//   width: 23.40426%
//   margin-left: 2.12766%
//   box-sizing: border-box
//   z-index: 9999

.shown
  display: block !important

.section
  padding-top: 75px

.section:first-child
  padding-top: 35px

.add-products-btn
  margin-bottom: 10px
  width: 100%

.add-user-btn
  margin-bottom: 10px
  width: 100%

.fileinput-button
  margin-bottom: 10px

.box
  -webkit-box-shadow: 0 2px 2px -2px #cccccc
  -moz-box-shadow: 0 2px 2px -2px #cccccc
  box-shadow: 0 2px 2px -2px #cccccc
  background: #fbfbfb
  border: 1px solid #cdcdcd
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  -ms-border-radius: 3px
  -o-border-radius: 3px
  border-radius: 3px
  margin-bottom: 20px
  overflow: auto
  .padded
    padding: 15px
  .box-content


  .box-header
    -moz-border-radius-topright: 3px
    -webkit-border-top-right-radius: 3px
    border-top-right-radius: 3px
    -moz-border-radius-topleft: 3px
    -webkit-border-top-left-radius: 3px
    border-top-left-radius: 3px

  .box-header, .box-footer
    background: #eaeaea
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgi…pZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==')
    background-size: 100%
    background-image: -webkit-gradient(linear,50% 0,50% 100%,color-stop(0%,#fdfdfd),color-stop(100%,#eaeaea))
    background-image: -webkit-linear-gradient(top,#fdfdfd,#eaeaea)
    background-image: -moz-linear-gradient(top,#fdfdfd,#eaeaea)
    background-image: -o-linear-gradient(top,#fdfdfd,#eaeaea)
    background-image: linear-gradient(top,#fdfdfd,#eaeaea)
    text-shadow: 0 1px white
    border-bottom: 1px solid #CDCDCD
    color: #636363
    font-weight: 600

    .nav-tabs.nav-tabs-left
      // float: left
      li:first-child a
        border-left: 0
        -moz-border-radius-topleft: 3px
        -webkit-border-top-left-radius: 3px
        border-top-left-radius: 3px
    .nav
      margin-bottom: 0
    .nav-tabs
      border-bottom: none
      > .active > a,  > .active > a:hover
        background: #fbfbfb
        border-left-color: #dddddd
        border-right-color: #dddddd
        border-top-color: transparent
        -webkit-border-radius: 0
        -moz-border-radius: 0
        -ms-border-radius: 0
        -o-border-radius: 0
        border-radius: 0


      > li > a, > li > a:hover
        background: transparent
        padding-top: 8px
        padding-bottom: 8px
        line-height: 20px
        border: 1px solid transparent
        -webkit-border-radius: 4px 4px 0 0
        -moz-border-radius: 4px 4px 0 0
        border-radius: 0


.import-results
  position: absolute
  top: 150px
  bottom: 0
  right: 0
  left: 0
  overflow: auto
  .product-summary
    padding-left: 15px
    padding-right: 15px
    box-sizing: border-box
  .error
    padding-left: 15px
    padding-right: 15px
    .inner
      border-radius: 4px
      box-sizing: border-box
      border: 1px solid #f00
      .error-area
        overflow-wrap: break-word
        width: 370px


.product-summary
  display: table
  margin-bottom: 5px
  width: 100%

  .image-and-summary
    display: table-row
    .image-holder
      display: table-cell
      min-height: 70px
      min-width: 70px
      vertical-align: top
      padding-right: 10px
      img
        border-radius: 4px
        border: 1px solid #ddd
        padding: 4px
        box-sizing: border-box
        background-color: white
        max-height: 90px

    .summary
      position: relative
      display: table-cell
      width: 90%
      span
        display: block
        position: absolute
        left: 0
        right: 0
      .name
        font-weight: bold
        top: 0
      .code
        color: #888
        font-size: 10px
        top: 36px
      .short-code
        top: 18px
      .price
        top: 54px
      .name, .code
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis

table
  th.sortable
    cursor: pointer
  th.sortable:hover
    background-color: whitesmoke

  th.sorted
    position: relative
    padding-right: 20px !important

  .arrow.asc
    border-color: transparent transparent #ccc transparent !important
    margin-top: -7px
  .arrow
    border-style: solid
    border-width: 5px
    display: block
    position: absolute
    top: 50%
    right: 5px
    font-size: 0
    border-color: #ccc transparent transparent transparent
    line-height: 0
    height: 0
    width: 0
    margin-top: -2px

.sidebar

  .user
    .summary
      .name
        font-weight: bold

    #mugshot-upload
      position: relative
      width: 100%
      min-height: 230px
      border: 1px solid #ddd
      padding: 5px

      img
        max-width: 100%
        max-height: 220px
        display: block
        margin: auto
        position: absolute
        top:    5px
        left:   5px
        bottom: 5px
        right:  5px
    .details
      top: 300px
    .collection-select
      width: 100%
      margin-bottom: 10px
  .product
    #photo-upload
      position: relative
      width: 100%
      min-height: 230px
      border: 1px solid #ddd
      padding: 5px

      img
        max-width: 100%
        max-height: 220px
        display: block
        margin: auto
        position: absolute
        top:    5px
        left:   5px
        bottom: 5px
        right:  5px
    .details
      top: 300px
  .gallery-image, .add-gallery-image
    .summary
      .name
        font-weight: bold

    #moodshot-upload
      position: relative
      width: 100%
      min-height: 230px
      border: 1px solid #ddd
      padding: 5px

      img
        max-width: 100%
        max-height: 220px
        display: block
        margin: auto
        position: absolute
        top:    5px
        left:   5px
        bottom: 5px
        right:  5px

    .details
      top: 300px
    .collection-select
      width: 100%
      margin-bottom: 10px

  .design
    .summary
      .name
        font-weight: bold
    #moodshot-upload
      position: relative
      width: 100%
      min-height: 230px
      border: 1px solid #ddd
      padding: 5px
      img
        max-width: 100%
        max-height: 220px
        display: block
        margin: auto
        position: absolute
        top: 5px
        left: 5px
        bottom: 5px
        right: 5px

    #list-photo-upload
      position: relative
      width: 100%
      min-height: 230px
      border: 1px solid #ddd
      padding: 5px

      img
        max-width: 100%
        max-height: 220px
        display: block
        margin: auto
        position: absolute
        top:    5px
        left:   5px
        bottom: 5px
        right:  5px
    .details
      top: 300px
