%ul.nav.nav-list.affix.sidenav
  - attribute_types.each_with_index do |attribute_type, index|
    %li
      %a{:href => (index > 0 ? "##{attribute_type.underscore.pluralize}" : "#")}
        %i.icon-chevron-right
        = attribute_type.underscore.pluralize.titleize.to_s
