- @attributes.each do |name, items|
  .section{:id => name.underscore.pluralize.downcase}
    %h4
      = name.pluralize.titleize
    %table.table.table-bordered.table-striped.table-hover.table-list
      %thead
        %tr
          %th.attribute-code
            Code
          %th.attribute-name
            Name
          %th.attribute-colour
            Colour
          %th.attribute-detail
            Detail
          %th.last-import
            Last Import
          %th.product-count
            Products
      %tbody
        - items.each do |item|
          %tr.clickable{:fragment => "attributes/#{item.id}", :id => "clickable_for_attribute_#{item.id}"}
            %td.attribute-code
              = item.code
            %td.attribute-name
              = item.name
            %td.attribute-colour
              = item.colour
            %td.attribute-detail
              = item.detail
            %td.last-import
              = item.present_in_last_import
            %td.product-count
              = item.product_count