.row
  .right.sidebar

  .left
    .row
      .col-md-3
        %h3.affix Attributes
        = render :partial => "attribute_types", :locals => { :attribute_types => @attribute_types }
      .col-md-9
        = render :partial => "list", :locals => { :attributes => @attributes }

