%h1 404
#info
  .text
    %h3 We're sorry
    %p
      The content that you requested could not be found.
    %p
      You tried to access a page which does not exist.
    %p
      Want to
      %a.link{href: shop_path} go back to our home page
      and try again?
  .image
    %img{:src => Design.has_photo.offset(rand(Design.has_photo.count)).first.photo.url(:zoom)}
