%h1 500
#info
  .text
    %h3 We're sorry
    %p
      The server faced an issue and we have been notified.
    %p
      Want to
      %a.link{href: shop_path} go back to our home page
      and try again?
  .image
    %img{:src => Design.has_photo.offset(rand(Design.has_photo.count)).first.photo.url(:zoom)}
