%table.table.table-bordered.table-striped.table-hover.table-list
  %thead
    %tr
      %th.image
      %th.type
        Filename
      %th.collections
        Collections
  %tbody
    - gallery_images.each do |gallery_image|
      %tr.clickable{:href => url_for([:admin, gallery_image]), :fragment => "gallery_images/#{gallery_image.id}", :id => "clickable_for_#{dom_id(gallery_image)}"}
        %td.image
          = image_tag(gallery_image.image(:admin), :width => 24, :height => 24)
        %td.name
          = gallery_image.image_file_name
        %td.collections
          - collections = [gallery_image.collection1, gallery_image.collection2, gallery_image.collection3].compact
          = collections.map(&:name).compact.map(&:strip).join(", ")