.row
  .right.sidebar
    .inner
      %a.btn.btn-warning.add-user-btn.clickable{:href => "#gallery_images/add"}
        Add Image to Gallery


  .left

    .col-md-12
      %h3.pull-left Gallery
      #gallery-image-list


- content_for :javascript do
  :javascript
    Admin.galleryImagesView = new Admin.Views.GalleryImagesView({el: "#gallery-image-list"})
    Admin.galleryImagesView.render()


