%table.table.table-bordered.table-striped.table-hover.table-list
  %thead
    %tr
      %th.image
      = sortable_th(:sort_key => "name", :sort_direction => @sort_direction, :class => "name") do
        Name
      = sortable_th(:sort_key => "code", :sort_direction => @sort_direction, :class => "code") do
        Code
      = sortable_th(:sort_key => "short_code", :sort_direction => @sort_direction, :class => "short-code") do
        Short Code
      = sortable_th(:sort_key => "created_at", :sort_direction => @sort_direction, :class => "date-added") do
        Date Added
      = sortable_th(:sort_key => "price", :sort_direction => @sort_direction, :class => "price") do
        Price

  %tbody
    - products.each do |product|
      %tr.clickable{:href => url_for([:admin, product]), :fragment => "products/#{product.id}", :id => "clickable_for_#{dom_id(product)}"}
        %td.image
          = image_tag(product.photo(:admin), :width => 24, :height => 24)
        %td.name
          = product.name
        %td.code{:title => product.code}
          = product.code
        %td.short-code
          = product.short_code || " - "
        %td.date-added
          = product.created_at.to_formatted_s(:ddmmyyyy)
        %td.price
          = product.price ? number_to_currency(product.price, :unit => "&pound;") : "-"