.popover.right.status.shown
  .popover-content
    .inner

      .filters
        - @facets.each do |k,options|
          - if (options.count==1) and params[k]
            %a.active-filter{:href => url_for(request.GET.reject  { |key| key.to_s == k.to_s })}
              <span>#{k.to_s.titleize}:</span> <em>#{options.first[0].name}</em>
              .close
                &times;
        - @facets.each do |k,options|
          - if options.count>1

            = content_tag "form", :method => :get do
              - params.each do |param, value|
                = hidden_field_tag param, value
              .filter
                = select_tag k, options_for_select(options.map { |option,count| ["#{option.name} (#{count})", option.id]}.sort {|a,b| a[0] <=> b[0]}.insert(0, ["Filter by #{k.to_s.titleize}", nil])), {:name => "#{k.to_s}", :class => "select2able"}

        = content_tag "form", :method => :get do
          - params.each do |param, value|
            = hidden_field_tag param, value
          - if params[:has_photo]
            %a.active-filter{:href => url_for(request.GET.reject  { |key| key.to_s == "has_photo" })}
              <span>Has photo:</span> <em>#{params[:has_photo] == "true" ? "Yes" : "No"}</em>
              .close
                &times;
          - else
            .filter
              = select_tag "has_photo", options_for_select([["Has photo?"], ["Yes", true], ["No", false]]), {:class => "select2able"}

        = content_tag "form", :method => :get do
          - params.each do |param, value|
            = hidden_field_tag param, value
          - if params[:has_price]
            %a.active-filter{:href => url_for(request.GET.reject  { |key| key.to_s == "has_price" })}
              <span>Has price:</span> <em>#{params[:has_price] == "true" ? "Yes" : "No"}</em>
              .close
                &times;
          - else
            .filter
              = select_tag "has_price", options_for_select([["Has price?"], ["No", false]]), {:class => "select2able"}


      .box.products-summary
        .box-content
          %table.table.table-striped
            %tbody
              %tr
                %th
                  Price List
                %td.type.number
                  = PriceListImport.last.presence ? PriceListImport.last.created_at.to_formatted_s(:short_and_year) : "Never"
              %tr
                %th
                  Products
                %td.products.number
                  = Product.count
              %tr
                %th
                  Enabled
                %td.enabled.number
                  = Product.enabled.count
              %tr
                %th
                  No Photo
                %td.enabled.number
                  = Product.no_photo.count
              %tr
                %th
                  No Code
                %td.enabled.number
                  = Product.no_short_code.count

      .box.collection-summary
        .box-content
          %table.table.table-striped
            %tbody
              %tr
                %th
                  Designs
                %td.products.number
                  = Design.count
              %tr
                %th
                  Classic
                %td.enabled.number
                  = Design.classic.count
              %tr
                %th
                  Contemporary
                %td.type.number
                  = Design.contemporary.count
