.row
  .right.sidebar
    .inner

      %button.btn.btn-warning.add-products-btn.clickable{:fragment => "products/add"}
        Add Products

      = render :partial => "status"

  .left
    .col-md-12
      %h3.pull-left Products
      = will_paginate @products
      = render :partial => "list", :locals => { :products => @products }
      = will_paginate @products

