%table.table.table-bordered.table-striped.table-hover.table-list
  %thead
    %tr
      %th{:style => "width: 30px"}
      = sortable_th(:sort_key => "created_at", :sort_direction => @sort_direction, :class => "date-added") do
        Enabled
      = sortable_th(:sort_key => "products_count", :sort_direction => @sort_direction, :class => "products") do
        Location

  %tbody
    - menu_images.each do |menu_image|
      %tr.clickable{:href => url_for([:admin, menu_image]), :fragment => "menu_images/#{menu_image.id}", :id => "clickable_for_#{dom_id(menu_image)}"}
        %td.image
          = image_tag(menu_image.photo(:admin), :width => 24, :height => 24)
        %td.enabled
          = menu_image.enabled?
        %td.location
          - if menu_image.products_classic?
            Products Classic
          - elsif menu_image.products_contemporary?
            Products Contemporary
          - elsif menu_image.collections_classic?
            Collections Classic
          - elsif menu_image.collections_contemporary?
            Collections Contemporary
