.row
  .right.sidebar
    .inner
      %button.btn.btn-warning.add-user-btn.clickable{:fragment => "menu_images/add"}
        Add Menu Image
  .left
    .col-md-12
      %h3.pull-left Menu Images

      = will_paginate @menu_images

      = render :partial => "list", :locals => { :menu_images => @menu_images }

      = will_paginate @menu_images
