%h1
  Categories
#products

  %table.products{:cellspacing => "1", :cellpadding => "0", :style => "width: 960px"}

    - @category_rows.each do |category_row|
      %tr
        -category_row.each do |category|
          %td{:width => "#{100/3}%"}
            %div
              = link_to image_tag(category.products.first.photo.url(:thumb)), category_path(category), :class => "img", :alt => category.name.pluralize
              .name
                = link_to category.name.pluralize, category_path(category)

  .clear