#products
  %h1
    = @category.name.pluralize.humanize

  %table.filters{:style => "float: left"}
    %tr
      - @facets.each do |k,options|
        - if (options.count==1) and params[k]
          %td
            #{k.to_s.titleize} is <em>#{options.first[0].name}</em>
            = link_to "(Remove)", url_for(:overwrite_params => {"#{k.to_s}" => nil}, :collection => params['collection'])
      - @facets.each do |k,options|
        - if options.count>1
          %td.filter
            = form_tag "", :method => :get do
              = hidden_field_tag :collection, params['collection']
              - params.each do |param, value|
                = hidden_field_tag param, value if Product::FACET_ATTRIBUTES.include?(param.to_sym)

              = select_tag k, options_for_select(options.map {|option,count| ["#{option.name} (#{count})", option.to_param]}.sort {|a,b| a[0] <=> b[0]}.insert(0, [filter_name(k), nil])), {:name => "#{k.to_s}"}
              = submit_tag "Filter", :name => nil

  - if params[:view_all].present?
    .pagination
      = link_to  "View 12 per page", url_for(:overwrite_params => {"view_all" => nil}, :collection => params['collection'])
  - else
    =will_paginate @products, :inner_window => 1, :outer_window => 0, :renderer => PaginationRenderer
    .pagination
      = link_to  "View all", url_for(:view_all => true, :collection => params['collection'])
  %table.products{:cellspacing => "0", :cellpadding => "0", :style => "width: 960px; clear: both"}

    - @product_rows.each do |product_row|
      %tr
        -product_row.each do |product|
          %td
            - next if product == "empty"
            .image
              = link_to image_tag(product.photo.url(:preview), :alt => product.short_name), product_path(product), :class => "img"
            .name
              = link_to product.short_name, product_path(product)
  .bottom
    - if params[:view_all].present?
      .pagination
        = link_to  "View 12 per page", url_for(:overwrite_params => {"view_all" => nil}, :collection => params['collection'])
    - else
      =will_paginate @products, :inner_window => 3, :renderer => PaginationRenderer
      .pagination
        = link_to  "View all", url_for(:view_all => true, :collection => params['collection'])
  .clear
