%table.table.table-bordered.table-striped.table-hover.table-list
  %thead
    %tr
      %th.image
      = sortable_th(:sort_key => "name", :sort_direction => @sort_direction, :class => "attribute-code") do
        Name
      = sortable_th(:sort_key => "email", :sort_direction => @sort_direction, :class => "email") do
        Email
      = sortable_th(:sort_key => "last_login_at", :sort_direction => @sort_direction, :class => "date-updated") do
        Last Seen
      = sortable_th(:sort_key => "created_at", :sort_direction => @sort_direction, :class => "date-added") do
        Added

  %tbody
    - users.each do |user|
      %tr.clickable{:href => url_for([:admin, user]), :fragment => "users/#{user.id}", :id => "clickable_for_#{dom_id(user)}"}
        %td.image
          = image_tag(user.mugshot(:admin), :width => 24, :height => 24)
        %td.name
          = "#{user.first_name} #{user.last_name}"
        %td.email
          = user.email
        %td.date-updated
          = user.last_login_at ? user.last_login_at.to_formatted_s(:short_and_year) : "-"
        %td.date-added
          = user.created_at.to_formatted_s(:ddmmyyyy)
