.row
  .right.sidebar
    .inner
      %button.btn.btn-warning.add-user-btn.clickable{:fragment => "users/add"}
        Add User


  .left

    .col-md-12
      %h3.pull-left Users


      = will_paginate @users


      = render :partial => "list", :locals => { :users => @users }

      = will_paginate @users

