#products

  - if @data.flatten.last.empty?
    %h1 Search
    #info
      Your search for #{h params[:search]} returned no results
  - else
    %h1 Results for "#{h params[:search]}"


  %table.products{:cellspacing => "0", :cellpadding => "0", :style => "width: 960px; clear: both"}
    - @product_rows.each do |product_row|
      %tr
        -product_row.each do |product|
          %td
            - next if product == "empty"
            .image
              = link_to image_tag(product.photo.url(:preview), :alt => product.short_name), product_path(product), :class => "img"
            .name
              = link_to product.short_name, product_path(product)
            .product-type
              = product.product_code.name
