

#info.product
  .main

    #features{:style => "float: right; width: 450px; padding: 10px 10px 10px 10px"}
      - if @product.design.present?
        %h1.product-name
          = "#{@product.design.name.titlecase} #{@product.subtitle.downcase}"
      - else
        %h1.product-name
          = @product.name.titlecase

      %table
        %tr
          %td{:colspan => 2}
            &nbsp;
          %tr
            %td
              &nbsp;
        %tr
          - if @product.dimension.present?
            %td.attribute
              Size:
            %td
              #{@product.dimension.name}
        - if @product.base_fabric.present?
          %tr
            %td.attribute
              Base Fabric:
            %td
              = [(@product.base_colour.name if @product.base_colour.present?), @product.base_fabric.description].compact.join(" ")
        - if [@product.applique1, @product.applique2, @product.applique3].any? &:present?
          %tr
            %td.attribute{:style => "vertical-align: top"}
              Applique:
            %td
              = simple_format(@product.applique1.description) if @product.applique1.present?
              = simple_format(@product.applique2.description) if @product.applique2.present?
              = simple_format(@product.applique3.description) if @product.applique3.present?



        - if [@product.other1, @product.other2].any? &:present?
          %tr
            %td{:colspan => 2}
              &nbsp;

          %tr.product-info
            %td{:colspan => 2}
              = simple_format(@product.other1.name) if @product.other1.present?
              = simple_format(@product.other2.name) if @product.other2.present?

        - if [@product.with_option, @product.and_option].any? &:present?
          %tr
            %td{:colspan => 2}
              &nbsp;
          %tr
            - with_option = @product.with_option.name.titleize.split(':') if @product.with_option.present? && @product.with_option.name.present?
            - and_option = @product.and_option.name.titleize.split(':') if @product.and_option.present? && @product.and_option.name.present?
            %td.attribute
              = "#{with_option.first}:" if with_option
            %td.attribute-value
              = with_option.last if with_option
          %tr
            %td.attribute
              = "#{and_option.first}:" if and_option
            %td.attribute-value
              = and_option.last if and_option
        %tr
          %td{:colspan => 2}
            &nbsp;
        - if @product.product_code.present?
          %tr.product-info
            %td{:colspan => 2}
              = simple_format(@product.product_code.description)
        %tr
          %td{:colspan => 2}
            &nbsp;
        %tr
          %td.attribute
            Code:
          %td
            = @product.short_code || @product.code
        %tr
          %td.attribute
            Price:
          %td
            - if @product.price && @product.price > 0
              = "£#{'%.2f' % @product.price}"
            - else
              Please contact your
              = link_to "local supplier", "/info/contact_us"
              for prices


      %div{:style => "margin-top: 35px"}
        - @product.related_products.each do |product|
          = link_to image_tag(product.photo(:related), :alt => product.name, :border => 0), product

    / %ul#subnav_menu
    /   %li
    /     = link_to "&laquo; Back".html_safe, (request.referrer || "test"), :id => "back_link"

    #image{:style => "float: left; padding: 10px; background: white;", :class => "zoomable"}
      = image_tag @product.photo(:preview), :alt => @product.name
      .zoom_icon.hidden


  .zoom.hidden
    .close
      Close
    = image_tag @product.photo(:zoom), :alt => @product.name
  .clear
