.container
  .content
    .row
      .login-form
        %h2 Login
        = form_for @user_session, :url => { :action => "create" } do |f|
          %fieldset
            .clearfix
              = f.text_field :email, :autocomplete => "off", :placeholder => "Email", :autofocus => "true"
            .clearfix
              = f.password_field :password, :autocomplete => "off", :placeholder => "Password"
            %button.btn.btn-primary{:type => "submit"} Sign in

