!!! 5
%html{:lang => "en"}
  %head
    %title
      English Home
    = stylesheet_link_tag "admin/application"
    = javascript_include_tag "admin/application"
    = csrf_meta_tags
  %body
    %nav.navbar.navbar-default.navbar-fixed-top
      .navbar-header
        %a.navbar-brand English Home
        %ul.nav.nav.navbar-nav
          %li{:class => ("active" if @current_controller=="products")}
            %a{:href => admin_products_path}
              Products
          %li{:class => ("active" if @current_controller=="designs")}
            %a{:href => admin_designs_path}
              Designs
          %li{:class => ("active" if @current_controller=="gallery_images")}
            %a{:href => admin_gallery_images_path}
              Gallery
          %li{:class => ("active" if @current_controller=="attributes")}
            %a{:href => admin_attributes_path}
              Attributes
          %li{:class => ("active" if @current_controller=="imports")}
            %a{:href => admin_imports_path}
              Imports
          %li{:class => ("active" if @current_controller=="users")}
            %a{:href => admin_users_path}
              Users
          %li{:class => ("active" if @current_controller=="vendors")}
            %a{:href => admin_vendors_path}
              Locations
          %li{:class => ("active" if @current_controller=="site_texts")}
            %a{:href => admin_site_texts_path}
              Site Text
          %li{:class => ("active" if @current_controller=="menu_images")}
            %a{:href => admin_menu_images_path}
              Menu Images
        %form.navbar-form.navbar-right
          .form-group
            %input.form-control{:type => "text", :placeholder => "Search"}
      .navbar-form.navbar-right
        = link_to "logout", admin_logout_path, :class => "btn btn-danger admin-logout"

    .container
      = yield

  :javascript
    Admin.Data.designs = _(#{Design.order(:name).all.to_json});
    Admin.init();

  = yield :javascript
