!!!
%html
  %head
    %title #{[@title, "Designer Curtains, Cushions, Bedding, Fabric and Panels from EnglishHome"].compact.join(" - ")}

    = stylesheet_link_tag    "shop/application", :media => "all"
    /[if !IE 7]
      <style type="text/css">
      \#container {display:table;height:100%}
      </style>
    = javascript_include_tag "shop/application"
    %script{src: "http://fast.fonts.net/jsapi/70f4a1c8-7b3c-4c07-bd59-536f8644c1d3.js", type: "text/javascript"}

  %body
    - if request.fullpath == shop_path
      :javascript
        $(document).ready(function(){
          var seconds = 6000;
          var step = 1;
          var limit = 8;

          $('body').css('background-color', '#fff');

          setInterval(function(){
            removeStep = step;
            step = (step > limit) ? 1 : step + 1;
            options = {
              opacity: 1,
              filter: "alpha(opacity=100)"
            }

            if (removeStep == 1) {
              $(".background-image-"+removeStep).css("z-index", 1);
            }
            if (removeStep == 7) {
              $(".background-image-"+step).css("z-index", 2);
            }

            $(".background-image-"+step).animate(options, 500, "linear", function() {
              $(".background-image-"+removeStep).css("opacity", 0);
              $(".background-image-"+removeStep).css("filter", "alpha(opacity=0)");
            });

            if(step == 1){
              $(".incorporate-logo").show();  
              $(".incorporate-tab").hide();                                          
            }else if(step == 2){
              $(".incorporate-tab").show();
              $(".incorporate-logo").hide();
            }else if(step == 3){
              $(".incorporate-logo").show();  
              $(".incorporate-tab").hide();
            }else if(step == 4){
              $(".incorporate-tab").show();
              $(".incorporate-logo").hide();
            }else if(step == 5){
              $(".incorporate-logo").show();  
              $(".incorporate-tab").hide();
            }else if(step == 6){
              $(".incorporate-tab").show();
              $(".incorporate-logo").hide();
            }else if(step == 7){
              $(".incorporate-tab").show();
              $(".incorporate-logo").hide();
            }else if(step == 8){
              $(".incorporate-tab").show();
              $(".incorporate-logo").hide();
            }else if(step == 9){
              $(".incorporate-tab").show();
              $(".incorporate-logo").hide();
            }

          },seconds);
        });
      .background-image-1
      .background-image-2
      .background-image-3
      .background-image-4
      .background-image-5
      .background-image-6
      .background-image-7
      .background-image-8
      .background-image-9
    - else
      #background-tile
    #container
      #menu
        %span.left-links
          %li.with-submenu.link{"aria-haspopup" => "true"}
            %a.blank.link{:href => "#"} Products
            .sub-menu.designs
              .left
                .inside
                  .moodshot
                    %img{:src => @products_contemporary_img }
                    .title
                      Contemporary
                  - if @max_products_column_length > 0
                    - @contemporary_products.each_slice(@max_products_column_length) do |products|
                      %ul.thin
                        - products.each do |pc|
                          %li= link_to((pc.plural || pc.name.pluralize), category_path(pc, :collection => 'contemporary'))
              /.vertical-line
              / .right
              /   .inside
              /     .moodshot
              /       %img{:src => @products_classic_img }
              /       .title
              /         Classic
              /     - if @max_products_column_length > 0
              /       - @classic_products.each_slice(@max_products_column_length) do |products|
              /         %ul.thin
              /           - products.each do |pc|
              /             %li= link_to((pc.plural || pc.name.pluralize), category_path(pc, :collection => 'classic'))
              .clear
          %li.with-submenu.link{"aria-haspopup" => "true"}
            %a.blank.link{:href => "#"} Collections
            .sub-menu.designs
              .left
                .inside
                  .moodshot
                    %img{:src => @collection_contemporary_img }
                    .title
                      Contemporary
                  - if @max_designs_column_length > 0
                    - @contemporary_designs.each_slice(@max_designs_column_length) do |designs|
                      %ul.thin
                        - designs.each do |d|
                          %li
                            - if d == "accents"
                              = link_to "Accent Cushions", collection_path("accents", :style => "contemporary")
                            - else
                              =link_to d.name, collection_path(d)
              / .vertical-line
              / .right
              /   .inside
              /     .moodshot
              /       %img{:src => @collection_classic_img}
              /       .title
              /         Classic
              /     - if @max_designs_column_length > 0
              /       - @classic_designs.each_slice(@max_designs_column_length) do |designs|
              /         %ul.thin
              /           - designs.each do |d|
              /             %li
              /               - if d == "accents"
              /                 = link_to "Accent Cushions", collection_path("accents", :style => "classic")
              /               - else
              /                 =link_to d.name, collection_path(d)
              .view-all-link.contemporary
                =link_to "View all", contemporary_collections_path
              / .view-all-link.classic
              /   = link_to "View all", classic_collections_path
          %li.link
            = link_to 'Gallery', collections_path, :class => 'link'
        %span.right-links
          %li.link
            = link_to "Trade", "/info/trade", :class => 'link'
          %li.with-submenu.small.link{"aria-haspopup" => "true"}
            = link_to "About", "/info/about_us", :class => "link first"
            .sub-menu.about
              %ul.thin.to-the-left
                %li= link_to "Who we are", "/info/about_us"
                %li= link_to "Contact", "/info/contact_us"
                %li= link_to "Shipping", "/info/shipping"
          %span.search
            #search_box
              .wrapper
                =  form_tag search_products_path, :method => :get do
                  =text_field_tag :search, params[:search], :placeholder => " Search"

      #logo
        = link_to image_tag("shop/logo3.png", :alt => "Atelier Textiles"), shop_path
      .incorporate-logo
        = link_to image_tag("shop/Incorporating-box.png", :alt => "Atelier Textiles and English Home"), shop_path
      .incorporate-tab
        = link_to image_tag("shop/luxurious-home-furnishings-box.png", :alt => "Atelier Textiles and English Home"), shop_path
      .leftBanner
        = link_to image_tag("shop/london_festivalBanner.png", :alt => "Atelier Textiles and English Home"), 'http://www.luxurymade.co.uk/exhibitors/123-atelier-textiles', target: "_blank"            
      .clear

      #content
        = yield

    .footer
      %table#footer
        %tr
          %td.left
            = mail_to 'sales@ateliertextiles.com', "sales@ateliertextiles.com"
          %td.center
            %a.twitter{:href => "https://twitter.com/ateliertextiles", :title => "@EnglishHomeLtd"}
            %a.facebook{:href => "https://facebook.com/AtelierTextiles"}
            %a.pinterest{:href => "https://pinterest.com/ateliertextiles"}
            %a.linkedin{:href => "https://uk.linkedin.com/company/englishhome-com-ltd"}
          %td.right
            = link_to "UK: +44 (0) 20 7352 7775", "/info/contact_us"

    #screen
    - unless Rails.env == "development"
      :javascript
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-47220454-1']);
        _gaq.push(['_trackPageview']);

        (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
